@(message: String, ManageList: List[ManageItem])

@main("Welcome to Merpicker") {
    <p>@message</p>
	<div>
	  <p>自動出品する商品の追加-すでに出品している商品の商品ID(mからはじまる)を入力してください.</p><br>
商品は即時削除され,自動で再出品されます.
																				  
        <form action = "/additem" method = "post">
	  
	      商品ID: <input type = "text" name = "itemid"><br>
		  在庫数: <input type="number" name="zaikonum" value="1" min = "1"><br>
		  <input type="checkbox" name="deleteflag" value="1" checked="checked">商品を即時削除する<br>
		  <input type="checkbox" name="adddataflag" value="1" checked="checked">出品したデータを定期管理データベースに追加
	    <input type = "submit">
	    </form>
	</div>
	<hr>
	<p>商品管理</p>
	<div>
	  <form action = "/updateManageInfo" method = "get">
		<input value = "情報更新" type = "submit">
      </form>
      <br>
      <table border = "1" class="table table-hover">
		<tr>
		  <th> 商品ID </th>
		  <th> 商品画像 </th>
		  <th> 商品タイトル </th>
		  <th> いいね数 </th>
		  <th> コメント数</th>
		  <th> 在庫数 </th>
		  <th> 出品日時 </th>
		  <th> </th>
		</tr>
		@for(t <- ManageList){
				  <tr>
					<td> @t.itemid </td>
					<td> <img src = @t.item_forview.imageurls(0) width = "100" height = "100"> </td> 
					<td> @t.item_forview.name </td>
					<td> @t.item_forview.num_likes </td>
					<td> @t.item_forview.num_comments </td>
					<td> @t.zaiko </td>
					<td> @t.item_forview.created_str </td>
					<td>
					  <form action = @{"/deleteManageItem/" + t.itemid} method = "get">
						<input value = "DBから削除" type = "submit">
					  </form>
					</td>
				  </tr>	
				  }
	  </table>
	<hr>
	</div>
	<div>  
    <p>セラーIDからの商品検索</p>
    <form action = "/searchresult" method = "get">
	  
	  <input type = "text" name = "sellerid"><br>
	  <input type = "submit">
	</form>
	
	</div>
}
