@(username: String, message: String, ManageList: List[ManageItem], OnSales: List[mercariapi.MercariItem], Tradings: List[mercariapi.MercariItem])

@main("Welcome to Merpicker") {
    <p>@message</p>
    <div>
	  @if(username == null){
	     <b><a href = @routes.Application.login() >ログイン</a></b>してください
		 }else{
		 <b>ログインユーザー: @username</b> 
	  }
	</div>
	<div>
	  <p>自動出品する商品の追加-すでに出品している商品の商品ID(mからはじまる)を入力してください.</p><br>
商品は即時削除され,自動で再出品されます.
																				  
        <form action = @routes.Application.additem() method = "post">
	  
	      商品ID: <input type = "text" name = "itemid"><br>
		  在庫数: <input type="number" name="zaikonum" value="1" min = "1"><br>
		  <input type="checkbox" name="deleteflag" value="1" 商品を即時削除する<br>
		  <input type="checkbox" name="adddataflag" value="1"出品したデータを定期管理データベースに追加
	    <input type = "submit">
	    </form>
	</div>
	<hr>
	<p>商品管理</p>
	<div>
	  <form action = @routes.Application.updateManageInfo() method = "post">
		<input value = "情報更新" type = "submit">
      </form>
      <br>
      <table border = "1" class="table table-hover">
		<tr>
		  <th> 商品ID </th>
		  <th> 商品画像 </th>
		  <th> 商品タイトル </th>
		  <th> いいね数 </th>
		  <th> コメント数</th>
		  <th> 在庫数 </th>
		  <th> 出品日時 </th>
		  <th> </th>
		</tr>
		@for(t <- ManageList){
				  <tr>
					<td> <a href= @{"https://www.mercari.com/jp/items/" + t.itemid} target="_blank"> @t.itemid </a></td>
					<td> <img src = @t.item.imageurls(0) width = "100" height = "100"> </td> 
					<td> @t.item.name </td>
					<td> @t.item.num_likes </td>
					<td> @t.item.num_comments </td>
					<td>
					  <form action = @routes.Application.updateZaikoNum(t.itemid) method = "get">
						<input type="number" name="zaikonum" value = @t.zaiko min = "1"><br>
						<input value = "在庫更新" type = "submit">
					  </form>
					</td>
					<td> @t.item.created_str </td>
					<td>
					  <form action = @routes.Application.deleteManageItem(t.itemid) method = "get">
						<input value = "DBから削除" type = "submit">
					  </form>
					</td>
				  </tr>	
				  }
	  </table>
	  <hr>
	  <p>現在出品中リスト</p>
	<div>
      <br>
      <table border = "1" class="table table-hover">
		<tr>
		  <th> 商品ID </th>
		  <th> 商品画像 </th>
		  <th> 商品タイトル </th>
		  <th> いいね数 </th>
		  <th> コメント数</th>
		  <th> 出品日時 </th>
		  <th>  </th>
		</tr>
		@for(t <- OnSales){
				  <tr>
					<td> <a href= @{"https://www.mercari.com/jp/items/" + t.id} target="_blank"> @t.id </a></td>
					<td> <img src = @t.imageurls(0) width = "100" height = "100"> </td> 
					<td> @t.name </td>
					<td> @t.num_likes </td>
					<td> @t.num_comments </td>
					<td> @t.created_str </td>
					<td>
					  <form action = @routes.Application.delandSell(t.id) method = "get">
						<input value = "削除+再出品" type = "submit">
					  </form>
					  <br>
					  <form action = @routes.Application.clonesell(t.id) method = "get">
						<input value = "クローン出品" type = "submit">
					  </form>
					  <br>
					  <form action = @routes.Application.cancelItem(t.id) method = "get">
						<input value = "削除" type = "submit">
					  </form>
					</td>
				  </tr>	
				  }
	  </table>
	  <hr>
	  <p>現在取引中リスト</p>
	<div>
      <br>
      <table border = "1" class="table table-hover">
		<tr>
		  <th> 商品ID </th>
		  <th> 商品画像 </th>
		  <th> 商品タイトル </th>
		  <th> いいね数 </th>
		  <th> コメント数</th>
		  <th> 出品日時 </th>
		  <th> 更新日時</th>
		</tr>
		@for(t <- Tradings){
				  <tr>
					<td> <a href= @{"https://www.mercari.com/jp/items/" + t.id} target="_blank"> @t.id </a></td>
					<td> <img src = @t.imageurls(0) width = "100" height = "100"> </td> 
					<td> @t.name </td>
					<td> @t.num_likes </td>
					<td> @t.num_comments </td>
					<td> @t.created_str </td>
					<td> @t.updated_str </td>
				  </tr>	
				  }
	  </table>
	<hr>
	</div>
	<div>  
    <p>セラーIDからの商品検索</p>
    <form action = @routes.Application.searchresult() method = "get">
	  
	  <input type = "text" name = "sellerid"><br>
	  <input type = "submit">
	</form>
	
	</div>
}
